.dashboard {
  height: 100vh;
  width: 100vw;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: rgb(243, 240, 237);
}
header {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 100%;
  height: 100px;
}
header h3 {
  font-size: 30px;
  font-weight: 600;
}
header input {
  width: 300px;
  height: 50px;
  margin-left: 60%;
  margin-top: 16px;
  border-radius: 15px;
  font-size: 18px;
  padding-left: 24px;
}
header h2 {
  font-size: 30px;
  font-weight: 700;
  padding-left: 60px;
  color: darkblue;
}
.financial-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  padding-top: 40px;
  padding-left: 60px;
  padding-right: 60px;
}
.totalProcrossed {
  width: 300px;
  height: 200x;
  background-color: white;
  border-radius: 10px;
}
.totalProcrossed #diff-p {
  font-size: 30px;
}
.totalProcrossed:hover {
  cursor: pointer;
  background-color: darkblue;
  color: white;
}
.totalProcrossed p {
  font-size: 20px;
  padding-left: 40px;
}
#differnt-totalpro {
  background-color: darkblue;
  color: white;
}
.table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 90%;
  border-collapse: collapse;
}
.table td,
.table th {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: center;
  font-size: 16px;
}
.table th {
  background-color: darkblue;
  color: #fff;
}
.table tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}
